# SPDX-FileCopyrightText: Copyright Contributors to the GXF project
#
# SPDX-License-Identifier: Apache-2.0

spring:
  application:
    name: gxf-publiclighting-message-transformer

  artemis:
    mode: native
    broker-url: tcp://localhost:61617?sslEnabled=true&${spring.jms.truststore.url-params}&${spring.jms.keystore.url-params}
    pool:
      enabled: true
      max-connections: 10

  jms:
    keystore:
      url-params: keyStorePath=${JMS_KEY_STORE_PATH}&keyStorePassword=${JMS_KEY_STORE_PASSWORD}
    truststore:
      url-params: trustStorePath=${JMS_TRUST_STORE_PATH}&trustStorePassword=${JMS_TRUST_STORE_PASSWORD}

    listener:
      session:
        transacted: true

  main:
    web-application-type: none

management:
  endpoint:
    health:
      probes:
        enabled: true
  server:
    port: 9080

# MODULE CONFIGURATIONS
common:
  messaging:
    deserialization-policy:
      whitelist:
        - org.lfenergy.gxf.*
        - com.alliander.gxf.*
        - java.util.*
        - java.datetime.*

device-events:
  enabled: true
  consumer:
    inbound-queue: device-events.inbound
    min-concurrency: 2
    max-concurrency: 10
  producer:
    outbound-queue: device-events.outbound
    quality-of-service:
      explicit-qos-enabled: true    # enable the use of deliveryMode, priority, and timeToLive
      delivery-persistent: true     # whether messages are persistent or non-persistent
      priority: 4                   # value between 0 (lowest) and 9 (highest), default is 4
      time-to-live: 0               # time to live in milliseconds, 0 means messages never expire

# TODO configure redelivery policy in broker configuration
# Artemis does not support redelivery policies per queue via configuration.
# Redelivery policies must be set via address-settings in the broker configuration.
# Example of Artemis address-setting configuration for redelivery and dead-letter queue
#  <address-settings>
#    <address-setting match="jms.queue.#">
#      <max-delivery-attempts>5</max-delivery-attempts>
#      <redelivery-delay>1000</redelivery-delay>                        <!-- 1 seconde initieel -->
#      <redelivery-delay-multiplier>2.0</redelivery-delay-multiplier>   <!-- exponentieel -->
#      <max-redelivery-delay>10000</max-redelivery-delay>               <!-- max 10 sec tussen retries -->
#      <dead-letter-address>jms.queue.DLQ</dead-letter-address>
#    </address-setting>
#  </address-settings>
#
# Not supported by Artemis
#    redelivery-policy:
#      initial-delay: 600000
#      maximum-retries: 5
#      maximum-delay: 3600000
#      delay: 60000
#      back-off-multiplier: 2
#      use-exponential-back-off: true

device-message-logs:
  enabled: true
  inbound-queue: device-message-logs.inbound
  outbound-queue: device-message-logs.outbound

device-requests:
  enabled: true
  inbound-queue: device-requests.inbound
  outbound-queue: device-requests.outbound

device-responses:
  enabled: true
  inbound-queue: device-responses.inbound
  outbound-queue: device-responses.outbound
